.error {
	display: block;
	color: red;
	font-family: "Work Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size: 14px;
	padding-left: 4px;
}
.errorTexArea {
	margin-top: -3px;
}
.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 20%;
}
.size100 {
	width: 100%
}
.line {
	margin-top: 20px;
	border-top: #cccccc solid 1px;
	width: 100%;
}
.comments {
	border: #cccccc solid 1px;
	font-family: "Work Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size: 16px;
	padding: 4px 2px;
}
.inputError {
	border: red solid 1px;
	font-family: "Work Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size: 16px;
	padding: 4px 2px;
}
.inputContainer {
	margin-bottom: 20px;
}
.user {
	font-weight: bold;
}

.button {
	width: 150px;
	height: 30px;
	font-size: 16px;
	font-family: "Work Sans","Helvetica Neue",Helvetica,sans-serif;
}
.containerButton{
	display: flex;
	justify-content: flex-end;
	width:100%;
}
.commentsContainer {
	margin: 20px 0; 
	border: none;
	width:100%;
}