.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 20%;
}
.form {
	width: 100%
}
.comments {
	width: 100%;
}
.button {
	width: 150px;
	height: 30px;
	font-size: 16px;
}
.containerButton{
	display: flex;
	justify-content: flex-end;
	width:100%;
	padding-top: 20px;
}
.commentsContainer {
	margin: 20px 0; 
	border: black solid .5px;
	width: 100%;
}